.userContainer{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameConatiner{
  height: 90%;
  width: 90%;
}



.playerBox{
  height: 100%;
  width: 30%;
}

.mainBox{
  display: flex;
  justify-content: space-between;
}

.textContainer {
  position: relative;
  display: inline-block;
}

.responsiveText {
  font-size: clamp(2rem, 5vw, 5rem); /* Responsive font size */
}

.cutB {
  position: relative;
  display: inline-block;
}

.cutB::after {
  content: "";
  position: absolute;
  top: 82%;
  left: -10px;
  width: 225%;
  height: 0.12em; /* Thickness of the line relative to font size */
  background-color: red; /* Color of the line */
  transform: rotate(-45deg); /* Angle of the diagonal line */
  transform-origin: left top; /* Point where the rotation occurs */
}

.playersList{
  height: 70vh;
  overflow: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  /* max-height: 1vh;   */
}

.imgCircle {
  border: 1px solid #E6E9ED;
  padding: 2px;
  border-radius: 50%;
  display: block;
  max-width: 100%;
  height: auto;
}

.navProfile {
  /* border: 1px solid #E6E9ED; */
  /* padding: 2px; */
  border-radius: 50%;
  /* display: block; */
  max-width: 17%;
  height: auto;
}

/* Add a typewriter-like effect */
.typewriter p {
  /*font-family: 'Courier New', Courier, monospace;*/
  white-space: pre-wrap; /* Preserve spaces */
  overflow: hidden; /* Hide the overflowing text */
  width: 100%;
  /*animation: blink-cursor 0.7s step-end infinite;*/
}

/*!* Blinking cursor animation *!*/
/*@keyframes blink-cursor {*/
/*  from, to {*/
/*    border-color: transparent;*/
/*  }*/
/*  50% {*/
/*    border-color: black;*/
/*  }*/
/*}*/
