.typing-text {
    display: inline-block;
    opacity: 0;
    animation: fade 4s infinite, blink 0.5s step-end infinite;
}

@keyframes fade {
    0%, 100% {
        opacity: 0.25;
    }
    50% {
        opacity: 1;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}
